// Media Resposive

.noembed-wrapper {
  padding-top: 30px;
  .noembed-embed-inner {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .noembed-embed-inner iframe,
  .noembed-embed-inner object,
  .noembed-embed-inner embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  table.noembed-meta-info {
    display: none;
  }
}
